#logout_menu{
	height:41px;
}
#sp-title-wrapper{
	background-image: linear-gradient(to bottom,#fff,#f8f8f8);
	background-repeat: repeat-x;
} 

.dl-horizontal dt, .dl-horizontal dd {
	*margin-right: 100px; 
	width: 200px;
	display: block;
}

.dl-horizontal dd{
	margin-left: 240px; 
}