# This configuration has been moved to the application config file for performance and security reasons
#RewriteBase /home/m/maratep5/maratep5.bget.ru/public_html
RewriteEngine On
RewriteCond $1 !^(index\.php|assets|images|robots\.txt|captcha)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
